<!doctype html>
<html class="h-100" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>

  <body class="h-100 align-items-center">
  	
	<div class="container pt-5">

  	</div>
    <div class="container">
        <div class="row w-50">
            <div class="col-md-12">
                <form th:action="@{/goToMainPage}"  method="post">
                    <button  type="submit" class="btn btn-secondary">Back to panel</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-5">
       <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <form th:action="@{/addClient}" th:object="${client}" class="well form-horizontal" method="POST">
                       <div class="row mb-4">
						   <div class="col-md-4 ml-3">
								<h2>Insert new client</h2>
						   </div>
                           <div class="col-md-7 text-right">
                               <button type="submit" class="btn btn-primary">Add new client</button>
                           </div>
                       </div>
					   <div class="row"></div>
                      <fieldset>
                         <div class="form-group">
                            <label class="col-md-4 control-label">First Name</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                   <input th:field="*{firstName}" id="first_name" name="firstName" placeholder="First Name" class="form-control" required="true" value="" type="text">
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Last Name</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                   <input th:field="*{lastName}" id="last_name" name="lastName" placeholder="Last Name" class="form-control" required="true" value="" type="text">
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                   <input th:field="*{email}" id="email" name="email" placeholder="Email" class="form-control" required="true" value="" type="email">
                               </div>
                            </div>
                         </div>
                          <div class="form-group">
                              <label class="col-md-4 control-label">Age</label>
                              <div class="col-md-8 inputGroupContainer">
                                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                      <input th:field="*{age}" id="age" name="age" placeholder="Age" class="form-control" required="true" value="" type="text">
                                  </div>
                              </div>
                          </div>
                        <!-- <div class="form-group">
                            <label class="col-md-4 control-label">Country</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control">
                                     <option>&#45;&#45;Select&#45;&#45;</option>
                                     <option>Romania</option>
                                     <option>United States</option>
                                     <option>France</option>
                                     <option>Italy</option>
                                  </select>
                               </div>
                            </div>
                         </div>-->
                      </fieldset>
                   </form>
                </td>
             </tr>
          </tbody>
       </table>
    </div>

   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  </body>
</html>

